<center>
<h1>Top 10 Contributors</h1>
<script src="/js/lib/Chart.min.js"></script>
		<div id="canvas-holder">
			<canvas id="chart-area" width="300" height="300"/>
		</div>
	<script>

		var pieData = {{{graph}}};

			window.onload = function(){
				var ctx = document.getElementById("chart-area").getContext("2d");
				window.myPie = new Chart(ctx).Pie(pieData);
			};
	</script>
<br />
<h1>Recent Commits</h1>
<p>
    {{#each messages}}
        <a href="https://github.com/{{../config.user}}/{{../config.repo}}/commit/{{this.id}}">{{this.author.name}} - {{this.message}}</a><br />    {{/each}}
</p>
</center>
