    <table>
        <tr>
            <td>Webhook Status:</td>
            <td>
                {{#if config.githubAuth.webhookSecret}}
                    Enabled
                {{else}}
                    Disabled
                {{/if}}
            </td>
        </tr>
        <tr>
            <td>Operating System:</td>
            <td>{{os.type}} - {{os.release}}</td>
        </tr>
        <tr>
            <td>System Uptime:</td>
            <td>{{os.uptime}} Seconds</td>
        </tr>
        <tr>
            <td>System Name:</td>
            <td>{{os.hostname}}</td>
        </tr>
    </table>
</center>
