{{#each repositories}}
  <h2>{{this.repo.user}}/{{this.repo.repo}}</h2>
  <ul style="display: inline-block">
    {{#each this.votesPerPR}}
      <li>
        #{{this.pr.number}} - {{this.pr.title}} by <strong><a href="https://github.com/{{this.pr.user.login}}">{{this.pr.user.login}}</a></strong> -
        Yes: {{this.votes.positive}}, No: {{this.votes.negative}} -
        <a href="{{this.pr.html_url}}" target="_blank">Pull Request</a>
      </li>
    {{else}}
      <li>No votes in progress</li>
    {{/each}}
  </ul>
{{/each}}
