<table style="border: 1px solid black">
    {{#each voteMap}}
        <tr>
        {{#each this}}
        <td style="border: 1px solid black">
            {{this}}
        </td>
        {{/each}}
        </tr>
    {{/each}}
<tr></tr>
</table>

<ul style="display: inline-block">
    {{#each votes}}
        <li>
          #{{this.pr.number}} - {{this.pr.title}} by <strong>{{this.pr.user.login}}</strong> -
          Yes: {{this.votes.positive}}, No: {{this.votes.negative}} -
          <a href="{{this.pr.html_url}}" target="_blank">Pull Request</a>
        </li>
    {{/each}}
</ul>
